<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>BELOAN Hangman-Web</title>
    
</head>
<body class="elBody">
    <header>

    </header>
    <main>  
        <form method="post" action="/hangman_classic_for_students/main/main.go" id="askword">
            <input type="text" id="name" name="name" required>
            <input type="submit" value="Submit">
            <output name="name"> </output>
        </form>
        <p class="Text">Test</p>
    </main>
    <footer>

    </footer>
</body>
</html>